---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
PointerAlignment: Right
DerivePointerAlignment: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
SortIncludes: false
AlignTrailingComments: true
AlignEscapedNewlines: DontAlign
BinPackArguments: true
BinPackParameters: true
BreakStringLiterals: false
ContinuationIndentWidth: 2
MaxEmptyLinesToKeep: 2
SpaceAfterCStyleCast: false
SpacesInParentheses: false
KeepEmptyLinesAtTheStartOfBlocks: true
AlwaysBreakAfterReturnType: None
ReflowComments: false
